.Signup-container {
    position: relative;
    background-color: var(--theme-color-neutral);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    padding-top: 45px;
    padding-bottom: auto;
    flex-direction: row;
}

.Form-container {
    display: flex;
    flex-direction: column;
    height: 520px;
    overflow-y: auto;
    position: relative;
    gap: 10px;
    justify-content: space-around;
    width: 60%;
    max-width: 1000px;
    margin: auto;
    background-color: rgba(66, 40, 40, 0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(58, 46, 148, 0.6);
    font-family: var(--theme-font-chewy);
    border-radius: 10px;
    padding: 60px;
    z-index: 2;
}

.Form-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}



.Form-right {
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    grid-column: 1 / span 2;

}


.style-signup input,
.style-signup textarea {
    background-color: rgba(17, 17, 17, 0.432);
    color: #ffffff;
    border-radius: 3px;
    padding: 10px;
    margin-top: 8px;
    width: 100%;
    border: none;
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
}

.style-signup input::placeholder,
.style-signup textarea::placeholder {
    color: #ffffff;
    opacity: 0.5;

}

.style-signup label {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.login-icons {
    display: flex;
    justify-content: space-between;

}

.login-icons a {
    text-decoration: none;
    color: var(--theme-color-primary);
    font-size: 20px;
    transition: all 0.3s ease;
}

.login-icons a:hover {
    color: #56739b;
}

.buttonText{
    text-align: center;

}

.Link {
    padding-left: 7.5rem;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    text-align: center;
}

@media (max-width: 375px) {
    .Form-container {
        width: 475px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px 20px;
        margin-top: 5px;
        overflow-x: scroll;
        scroll-behavior: smooth;


    }

}